.moviedetails {
  position: relative;
  overflow: hidden;
}

.moviedetails__bg {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.moviedetails__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  padding: 20rem 10rem;
}

.moviedetails__poster {
  width: 300px;
}

.moviedetails__content_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
}

.moviedetails__title {
  font-size: 4rem;
  margin: 0;
}

.moviedetails__tagline {
  font-size: 2.8rem;
  margin: 2rem 0 0;
  opacity: 0.8;
  font-style: italic;
}

.moviedetails__overview {
  margin: 2.5rem 0 0;
}

.moviedetails__content__row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 0.8rem 0;
}
.moviedetails__runtime {
  margin: 4rem 0 0.8rem;
}

.moviedetails__genre,
.moviedetails__production,
.moviedetails__release,
.moviedetails__rating,
.moviedetails__countries {
  margin: 0;
}

.bold {
  font-weight: 700;
  margin-right: 0.5rem;
}
