.container {
  max-width: 1600px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.movies__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 2rem;
  padding: 2rem;
}
